@font-face {
    font-family: 'Oxanium';
    src: url('fonts/Oxanium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #000;
    color: #0c111a;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #0c111a;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #0c111a;
    padding: 20px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 15px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c111a;
    padding: 10px 20px;
}

.nav-buttons-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.cyber-h1 {
    font-family: 'Oxanium', sans-serif; /* Fallback to sans-serif if Oxanium is not available */
    font-size: 68px;
    margin: 0;
    color: #1b75bb;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.cyber-header {
    background-color: #0c111a;
    padding: 20px;
    margin-bottom: 15px;
}

main {
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow the items to wrap */
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}


.content-text {
    flex: 1;
    margin-right: 40px;
}

.content-text p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.content-video {
    max-height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.content-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }

/* New class for the responsive aspect ratio container */
.aspect-ratio {
    position: relative;
    padding-top: 56.25%; /* Aspect ratio of 16:9 */
    height: 0;
}

/* Modify iframe selector to be a child of the new aspect-ratio container */
.aspect-ratio > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #1b75bb;
    letter-spacing: 2px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #FFF;
}

.form-group {
    margin-bottom: 20px;
    padding: 5px;
}

.form-group label {
    display: block;
    color: #ffd300;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #000; /* bright yellow */
    color: #FFFF00; /* text color changed to black for contrast */
    font-size: 16px;
    text-decoration: none;
    border: 3px solid #FFFF00; /* blue border */
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
    position: relative; /* for pseudo-element positioning */
    overflow: hidden; /* ensures pseudo-elements don't overflow */
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* added color and transform to transition */
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0000ff; /* blue */
    transition: transform 0.3s;
    z-index: -1;
}

.button:hover {
    background-color: #5500ff; /* dark purple */
    color: #fff; /* text color to white for visibility */
}

.button:hover::before {
    transform: translateX(100%);
}

.button:active {
    transform: scale(0.95); /* slight shrink effect when pressed */
}


.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: #0c111a;
}

nav-button {
    background-color: transparent;
    color: #0df2ff;
    border: 2px solid #0df2ff;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-button:hover {
    color: #ff2079;
    border-color: #ff2079;
}

.nav-buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.glow {
    color: #0df2ff;
    font-size: 2em;
    text-transform: uppercase;
}

#contentArea {
    color: #0df2ff;
    line-height: 1.5;
    text-align: justify;
    font-size: 1.2em;
}

/* Style for the district images */
.district-image {
    width: 100%; /* Will fill the container */
    height: 100px; /* Set a fixed height */
    object-fit: cover; /* Cover the area without stretching the image */
    align-items: center;
}

.district {
    
    position: relative;
    width: 100%; /* This will ensure it takes the full width available */
    margin-bottom: 20px; /* Space between districts */
    display: block; /* Makes sure it's always a block */
}

/* Positioning the district name over the image */
.district-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Text color */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px 10px; /* Padding around text */
    width: 80%; /* Same as image width */
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    z-index: 10;
}

.content-districts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.districts-container {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%; /* Adjusts the left margin accordingly */
}


.selectedDistrictName {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style for the image container */
.selectedDistrictImageContainer {
    width: 100%;
    margin-bottom: 20px;
}

/* Style for the image */
.selectedDistrictImage {
    max-width: 100%;
    height: auto;
}

.selectedDistrictDescription {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 50px;
}

/* Style for the selected district container */
.selectedDistrict {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 800px; /* Adjust as needed */
    text-align: center;
}

.selectedDistrictContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedDistrictInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Style for the details container */
.selectedDistrictDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for the description */
.selectedDistrictDescription {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Style for the map container */
.selectedDistrictMapContainer {
    width: 100%;
}

/* Style for the map image */
.selectedDistrictImageMap {
    max-width: 100%;
    height: auto;
}

.calender {
    padding-top: 30px;
}

.date-input {
    padding: 5px;
    margin-right: 10px;
}

.confirmDate-button {
    background-color: #0df2ff;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.confirmDate-button:hover {
    background-color: #1b75bb;
    color: white;
}

.yellow-text {
    color: yellow;
}

.calendar-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.calender {
    background-color: cyan;
}

.calendar-day {
    color: yellow !important;
}

.calendar-selected-day {
    color: red !important;
}

.content-text, .content-video {
    flex: 1 1 45%; /* Adjust basis to around half */
    margin-right: 40px;
}

@media screen and (max-width: 768px) {
    .content-text, .content-video {
        flex-basis: 100%; /* Full width on small screens */
        margin-right: 0;
    }
}


img, iframe {
    max-width: 100%;
    height: auto;
}

.cyber-background {
    background-image: url('path-to-night-city-image.jpg'); /*Edit this path*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.login-intro {
    color: #0df2ff;
    font-family: 'Cyberpunk-font', sans-serif;
    padding: 20px;
    background: rgba(0, 0, 0, 0.75); /* Translucent background for better readability */
    border: 1px solid #0df2ff; /* Neon-style border */
}

/* Add styles for your animated ad GIFs */
.ads-left, .ads-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ads-left {
    left: 0;
}

.ads-right {
    right: 0;
}

.cyber-button-inline {
    margin-right: 10px; /* Adds space to the right of each button */
    display: inline-block; /* Keeps buttons on the same line */
}

/* Target the last button to remove the margin on the right */
.cyber-button-inline:last-child {
    margin-right: 0;

}

/* Responsive layout adjustments */
@media (max-width: 768px) {
    .header-nav {
        flex-direction: column;
    }

    .nav-buttons-container {
        width: 100%;
        justify-content: space-around;
    }

    .glow {
        font-size: 1.5em;
    }
}

/* Media Query for smaller screens */
@media screen and (max-width: 1268px) {
    .left-districts, .right-districts {
        float: none;
        position: static;
        width: auto;
        padding: 20px 0;
        text-align: center;
    }

    .district-image {
        max-width: 100%; /* Full width on small screens */
        height: 100px; /* Adjust the height as needed */
    }

    .district-name {
        width: 100%; /* Full width on small screens */
    }

    #contentArea {
        padding: 20px;
        text-align: center;
    }
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .selectedDistrict {
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .selectedDistrict {
        flex-direction: column;
        align-items: center;
    }

    .selectedDistrictImageContainer,
    .selectedDistrictMapContainer {
        width: 100%;
    }

    .selectedDistrictDescription {
        text-align: justify;
    }

    .footer-buttons .cyber-button {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center; /* Center buttons horizontally */
        margin-bottom: 10px;
    }

    .cyber-button-inline {
        width: 100%; /* Full width on smaller screens */
        margin-right: 0; /* Remove the margin as it's no longer needed */
        margin-bottom: 10px; /* Add some space below each button */
    }

    .cyber-button-inline:last-child {
        margin-bottom: 0;
    }
}

.footer-buttons .cyber-button {
    display: flex;
    justify-content: center; /* Center buttons on the page */
    flex-wrap: wrap; /* Allows buttons to wrap onto the next line */
    gap: 10px; /* Adds space between buttons */
    
}

.cyber-button {
    margin-bottom: 10px;
}